.services {
  padding-block: 80px;
  background-color: var(--color-white-dark);
}

.services__discriphion {
  max-width: 920px;
  margin-inline: auto;
  margin-top: 24px;
  text-align: center;
}

.services__list {
  --count-card: 3;
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(var(--count-card), 1fr);
  row-gap: 38px;
  column-gap: 24px;
}

.services__card {
  background-color: var(--color-white);
  padding: 50px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.services__card:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: default;
}

.services__card .icon {
  color: var(--color-primary);
}

.services__card:hover .icon {
  color: var(--color-white);
}

.services__card-title {
  margin-top: 15px;
}

.services__card-text {
  margin-top: 10px;
}

.services__button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

@media screen and (max-width: 1200px) {
  .h2 {
    font-size: 24px;
  }
  .services__list {
    --count-card: 2;
  }
  .services__card {
    font-weight: 300;
    font-size: 14px;
  }
}

@media screen and (max-width: 834px) {
  .services {
    padding-block: 40px;
  }

  .h2 {
    font-size: 20px;
  }
  .services__discriphion {
    margin-top: 16px;
    font-size: 14px;
  }
  .services__list {
    margin-top: 24px;
    overflow-x: auto;
    margin-inline: -15px;
    padding-inline: 15px;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 15px;
    grid-template-columns: repeat(6, 75%);
  }
  .services__card {
    scroll-snap-align: start;
  }
  .services__button-wrapper {
    margin-top: 30px;
  }
}
