*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  font: inherit;
}
img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
